<!DOCTYPE html>
<head>
  <title>OpenAI Q&A</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>你的智能小助手</h3>
  <form action="/" method="post">
    <textarea name="question" rows="5" cols="33" placeholder="此处输入你的问题" required></textarea>
    <input type="submit" value="提交" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
